NODE_ENV=development
PORT=3000

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=backend_challenge
POSTGRES_USER=backend_challenge
POSTGRES_PASSWORD=backend_challenge_local

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
MINISTACK_PORT=4566
SQS_ENDPOINT=http://127.0.0.1:4566
WAGER_TRANSACTIONS_QUEUE_NAME=wager-transactions.fifo
WAGER_TRANSACTIONS_DLQ_NAME=wager-transactions-dlq.fifo
